<div class="container d-flex justify-content-center align-items-center " style="height: 100vh;">
    <div class="row shadow-lg p-3 mb-5 bg-body-tertiary rounded-4 " style="height: 60vh;">
       
        <div class="col">
            <div class="mb-2 d-flex flex-column align-items-end ">
                <h1 class=" col-12 display-2 fw-bold m-0">BugLedger</h1>
                <small class="fw-bold pt-1 text-danger ">the issue tracker</small>
            </div>

            <div class="d-flex flex-column align-items-center mt-5">
                <small class="col-10 fs-5 text-center fw-semibold pb-1 border-2 border-bottom">Lets get started</small>
                <div class="col-12 mt-2 d-flex flex-column align-items-center ">
                    <a href="/user/signin" class="btn btn-outline-dark  col-8 mb-2">SignIn</a>
                    <a href="/user/signup" class="btn btn-outline-dark col-8">SignUp</a>
                </div>
            </div>

        </div>

    </div>
</div>